*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
}

nav ul{
    display: flex;

}

nav ul li {
    padding: 14px ;
    background-color: antiquewhite;
    margin: 0px 10px;
    list-style-type: none;
}